<!DOCTYPE html>
<html lang="en-GB">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"]</title>

	<environment include="Development">
		<link href="~/libraries/foundation/css/foundation.css" rel="stylesheet" />
		<link href="~/styles/style.css" rel="stylesheet" />
	</environment>
	<environment exclude="Development">
		<link href="~/libraries/foundation/css/foundation.min.css" rel="stylesheet" />
		<link href="~/styles/style.min.css" rel="stylesheet" />
	</environment>

	<link href="https://fonts.googleapis.com/css?family=Bree+Serif%7CRoboto&amp;subset=latin-ext" rel="stylesheet">
	<link href="~/images/icon.png" rel="apple-touch-icon" />
	<link href="~/manifest.json" rel="manifest">
</head>
<body>
	<div id="divOnlineNewsReader">
		<h1>Online News Reader</h1>
		<div id="divOnlineNewsReaderNewsArticles">
			@RenderBody()
		</div>
		<p>Powered by <a href="https://newsapi.org/" target="_blank">NewsAPI.org</a>.</p>
	</div>
	<div class="throbber">
		<div class="throbber-wrapper">
			<div class="throbber-gif"></div>
		</div>
	</div>

	<environment include="Development">
		<script src="~/libraries/jquery/dist/jquery.js"></script>
		<script src="~/libraries/foundation/js/vendor/foundation.js"></script>
		<script src="~/libraries/foundation/js/vendor/what-input.js"></script>
		<script src="~/scripts/script.js"></script>
	</environment>
	<environment exclude="Development">
		<script src="~/libraries/jquery/dist/jquery.min.js"></script>
		<script src="~/libraries/foundation/js/vendor/foundation.min.js"></script>
		<script src="~/libraries/foundation/js/vendor/what-input.js"></script>
		<script src="~/scripts/script.min.js"></script>
	</environment>

	<script>
		onlineNewsReader.ui.init();
	</script>

	@RenderSection("Scripts", required: false)
</body>
</html>
