@charset "UTF-8";

body {
	background-color: #EEEEEE;
}

a:hover {
	text-decoration: underline;
}

#divOnlineNewsReader {
	margin: 1rem auto;
	padding: 0 1rem;
	text-align: center;
}

h1 {
	font-family: 'Bree Serif', serif;
	font-size: 33px;
	margin-bottom: 1rem;
}

input, select {
	font-family: 'Roboto', sans-serif;
}

article {
	background-color: #FEFEFE;
	border: 1px solid #CACACA;
	font-family: 'Roboto', sans-serif;
	margin: 0 0 .5rem;
	padding: 1rem;
	text-align: left;

	.image {
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		margin-bottom: 1rem;
		min-height: 10rem;
	}

	header {
		margin: 0 0 1rem;

		h2 {
			font-size: 1.5rem;
			line-height: 1.75rem;
			margin: 0;
			padding: 0;

			a {
				color: #000000;
			}
		}

		.author {
			color: #686868;
			display: inline-block;
			font-size: 0.75rem;
			line-height: 0.75rem;
			margin-top: 0.5rem;
		}
	}

	p {
		font-size: 1rem;
		line-height: 1.25rem;
		margin: 0;
		padding: 0;
	}

	footer {
		color: #686868;
		font-size: 0.75rem;
		line-height: 0.75rem;
		margin: 1rem 0 0;
		padding: 0;

		.sourceOrganisation + .datePublished::before {
			content: "| ";
		}
	}
}

.pagination {
	margin: .5rem auto 1.5rem;

	.button.expanded {
		color: #FFFFFF;
		font-size: 1rem;
		margin: 0 1rem;
		padding: .84rem;
		width: auto;

		&:hover {
			background-color: #848484;
		}
	}
}

.throbber {
	bottom: 0;
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 2147483647;

	.throbber-wrapper {
		height: 32px;
		left: 50%;
		margin: -16px 0 0 -16px;
		position: relative;
		top: 50%;
		width: 32px;

		.throbber-gif {
			background-attachment: scroll;
			background-image: url(/images/throbber.gif);
			background-position: center;
			background-size: 32px 32px;
			height: 100%;
			width: 100%;
		}
	}
}

@media screen and (min-width: 40em) {
	h1 {
		font-size: 38px;
	}

	#divOnlineNewsReader {
		width: 40em;
	}

	.image {
		margin: 0 1rem 0 0;
	}
}

@media screen and (min-width: 64em) {
	h1 {
		font-size: 42px;
	}

	#divOnlineNewsReader {
		width: 40em;
	}
}

@media screen and (min-width: 75em) {
	h1 {
		font-size: 46px;
	}

	#divOnlineNewsReader {
		width: 50em;
	}
}

@media screen and (min-width: 90em) {
	h1 {
		font-size: 50px;
	}

	#divOnlineNewsReader {
		width: 60em;
	}
}
